<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <a href="/login">Login</a>
    <a href="/register">Registrar</a>
    <form th:action="@{/login}" method="post">
        <input type="text" id="username" name="username" placeholder="Usuário ou Email" required>
        <input type="password" id="password" name="password" required placeholder="Senha">
        <button type="submit">Entrar</button>
        <div th:if="${param.error}" class="error">
            Usuário ou senha inválidos
        </div>
    </form>
</body>

</html>