<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <a href="/home">Inicio</a>
    <a href="/service">Serviços</a>
    <a href="/profile">Perfil</a>
    <a href="/logout">Deslogar</a>
    <input type="text" name="username" id="" disabled th:value="${user.username}">
    <input type="text" name="email" id="" disabled th:value="${user.email}">
    <form th:action="@{/profile/update}" method="post" th:object="${updateDto}">
        <input type="text" id="username" th:field="*{username}" placeholder="Novo Usuário">
        <input type="email" id="email" th:field="*{email}" placeholder="Novo Email">
        <input type="password" id="newPassword" th:field="*{newPassword}" placeholder="Nova Senha">
        <input type="password" id="confirmPassword" th:field="*{confirmPassword}" placeholder="Confirmar Senha">
        <input type="password" id="currentPassword" th:field="*{currentPassword}" placeholder="Senha Atual" required>
        <button type="submit" class="update-btn">Atualizar Perfil</button>
    </form>
    <form th:action="@{/profile/delete}" method="post" class="delete-form"
        onsubmit="return confirm('Tem certeza que deseja excluir sua conta? Esta ação não pode ser desfeita.');">
        <button type="submit" class="delete-btn">Excluir Minha Conta</button>
    </form>

    <div th:if="${param.success}" class="success">
        Perfil atualizado com sucesso!
    </div>
    <div th:if="${error}" class="error" th:text="${error}"></div>

</body>

</html>